/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-primary: #305669;
  --color-secondary: #8ABEB9;
  --color-accent: #C1785A;
  --color-background: #B7E5CD;
  
}

.page_header {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 16px 32px;
}

.page_content {
  height: 700px;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-accent);
  color: white;
  font-weight: bold;
}

.page_header__login__buttons {
  display: flex;
  gap: 8px;
}

.flex_container {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.align_center {
  align-items: center;
}

.space_between {
  justify-content: space-between;
}

.justify_center {
  justify-content: center;
}

.modal_container_overlay{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container__form {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal_container__form__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}